# require all casks installed in ~/Applications
# cask_args appdir: "~/Applications"

# List of programs that I like to use on some machines. Uncomment to install that on this machine. 
# cask "xcodes"
# cask "tailscale-app"
# brew "sonar-scanner"
# cask "slack"
# cask "nextcloud"
# atlassian cli (used for jira cli)
# tap "atlassian/acli", trusted: {
#   formula:  "acli"
# }
# brew "acli"
# git lfs support
# brew "git-lfs"
# Box mac app to browse Box files on mac. 
# cask "box-drive"