# require all casks installed in ~/Applications
# cask_args appdir: "~/Applications"

# List of programs that I like to use on some machines. Uncomment to install that on this machine. 
# cask "xcodes"
# cask "tailscale-app"
# brew "sonar-scanner"
# cask "slack"